* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
}
.header-content{
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    height:60px;
    padding-right: 10px;
    display:flex;
}
.main-content{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.footer-content{
    height:94px;
    background-color: limegreen;
}
a{
    padding-left: 9px;
    color: #393939;
    text-decoration: none;
    font-weight: 400;
}
a img{
    width:20px;
    height:20px;   
    padding-top: 4px;
    padding-right: 20px;
    filter: opacity(.7);
}
.btn{
    padding: 8px 25px;
    color: #fff;
    background-color: rgb(38, 124, 246);
    border-radius: 5px;
}
.button{
    /* padding: px; */
    font-size: 14px;
    height:36px;
    width: 140px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor:pointer;
    margin: 11px 4px;
}
.search-container{
    width:582px;
    height: 44px;
    border: 1px solid gray;
    border-radius: 40px;
    margin: 1rem auto 
}