*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body,html{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-blend-mode: exclusion;
    background-color: rgb(9, 9, 161);
}
header{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(95deg, black, blue);
    width: 100vw;
    height: 10vh;
    opacity: 0.4;
}
h1{
    display: block;
    color:aliceblue;
    text-align: center;
    align-items: baseline;

}
.container{
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}
.container article{
    width: 300px;
    padding: 15px;
}
.container img{
    display: block;
    margin: 0 auto 1rem;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.container p{
    color:yellowgreen;
    font-weight: 400;

}