*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body,html{
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: #130541;
    overflow-x: hidden;
}
header{
    display:flex;
    position:fixed;
    top:0;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(95deg, black, #130541);
    width: 100vw;
    height: 10vh;
    opacity: 0.7;
    margin-bottom: 1rem;
}
header img{
    width: 100px;
    margin: 0 20px;
}
h1{
    display: block;
    position:fixed;
    color:white;
    text-align: center;
    font-size: 20px;
    align-items: baseline;
}
.container{
    margin: 12vh auto 3vh;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 4;
    width: 90%;
}
.container article{
    background-image: radial-gradient(#130541 50%, #4A358C);
    width: 300px;
    margin: 5px;
    margin-bottom: 1.7rem;
    padding: 15px;
    border-radius: 25px;
}
.container img{
    transition: ease 300ms;
    display: block;
    margin: 0 auto 1rem;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.container img:hover{
    cursor:pointer;
    transition: ease 500ms;
    transform:scale(1.03);
    filter:sepia(.5);
   }

.container p{
    color:#d8c61f;
    font-size: 1.1rem;
    font-weight: 300;
}
article h3{
    background-image: radial-gradient(#130541 50%, #4A358C);
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color:#d8c61f;
    padding: 5px 10px;
    margin-top: -15px;
    margin-left: -25px;
    margin-bottom: 1rem;
    background-color: blue;
    width: 120%;
}
#modal_img{
    float: none;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 5;
}
.modal{
    transition: ease-in-out 500ms;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    align-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}
    .modal-text{
        z-index: 8;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display:block;
        position:fixed;
        left: 20px;
        bottom:20px;
        padding:40px;
        color:yellow;
        min-width: 600px;
        max-width: 900px;
        text-shadow: 1px 2px 3px #130541;
    }
    .modal-text h3{
        letter-spacing: 1.2rem;
    }
    .modal_content{
    display: flex;
    position: relative;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
}
    .modal_active{
        transition: ease-in-out 500ms;
        opacity: 1;
        visibility: visible;
        align-items: center;
    }
    #bt_close{
        position: absolute;
        color: white;
        right: 40px;
        top: 10px;
        background-color: black;
        font-size: large;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid white;
        z-index: 6;
    }
    #bt_close:hover{
        background-color: rgb(198, 80, 80);
    }
