*{
    margin:0;
    padding: 0;
}
body{
    height: 200vh;
}
.pai{
    width:200px;
    height: 200px;
    margin-top: 20vh;
    background-color: crimson;
    position:relative;
}
.filho{
    width:100px;
    height:100px;
    background-color: teal;
}