* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    display: inline;
}
body{
    overflow-x: hidden;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color:black;
}
.header-top-nav{
    background-image:linear-gradient(95deg, rgb(223, 238, 246), rgb(35, 202, 79));
    text-align: center;
    height: 180px;
    width: 100vw;
    display:block;
    top:0;
    position:fixed;
    z-index: 3;
    opacity:.8;
}
.header-top-nav > h1{
    font-family: 'Special Elite', cursive;
    height: 80px;
    display:block;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.header-top-nav ul{
    align-items: center;
    height: 40px;
    margin: 1.2rem auto;
    display:block;
}
.header-top-nav ul li{
    transition: ease 300ms;
    position:relative;
    display:inline;
    font-family: 'Segoe UI';
    padding:10px 20px;
    border:rgba(247, 251, 243, 0) 1px solid;
}
.header-top-nav ul li:hover{
    transition: ease 350ms;
    background-color: rgba(221, 248, 239, 0.519);
    border-radius: 5px;
    border:rgb(242, 255, 231) 1px solid;
    box-shadow: 5px 5px 10px gray;
}


.main-content{
    height: calc(100vh - 180px);
    background-image: url('https://i.kym-cdn.com/entries/icons/original/000/024/037/maxresdefault_(22).jpg');
    width:100vw;

    position:relative;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin-top: 180px;
}
.main-content-container-overlay{
    display:block;
    height:calc(100vh - 180px);
    width:100vw;
    background-color: rgba(234, 243, 233, 0.9);
}
.left-block{
    display:inline-block;
    float:left;
    width: 30vw;
    height:calc(100vh - 180px);
    align-items: center;
     
    background-color: rgba(122, 171, 131, 0.227);
}
.right-block{
    float:right;
    width: 70vw;
    height:calc(100vh - 180px);
    text-align: center;
    padding: 20px 0;
}
.menu-left{
    text-align: center;
    line-height: 26px;
    margin: 8rem auto;
}
.menu-left::first-line{
    font-weight: bolder;
}
.right-block h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2;
}
.right-block h2::first-letter{
    font-size: 30px;
}
.right-block img{
    display:block;
    width: 80%;
    margin: 0 auto;
}
.right-block p{
    text-align: justify;
    line-height: 26px;
    padding: 5px 45px 5px 20px;
}
.right-block p::first-letter{
    font-size: 40px;
}

.triple-menu{
    text-align: center;
    height:100vh;
    align-items: center;
    padding-top: 16rem;
}

.menu-1{
    transition: ease 300ms;
    display:inline-block;
    background-color: rgb(196, 203, 255);
    align-content: center;
    width:200px;
    height: 500px;
    line-height: 500px;
    border-radius: 15px;
    cursor:pointer;
}
.menu-1:hover{
    transition: ease 300ms;
    background-image: linear-gradient(rgb(196, 203, 255)90%, rgb(218, 222, 246),white);
    box-shadow: 5px 5px 20px gray;

}
.menu-2{
    display:inline-block;
    transition: ease 300ms;
    margin: 20px;
    background-color: chocolate;
    width: 200px;
    line-height: 500px;
    height: 500px;
    border-radius: 15px;
    cursor:pointer;
}
.menu-2:hover{
    transition: ease 300ms;
    background-image: linear-gradient(chocolate 90%, rgb(217, 146, 95),white);
    box-shadow: 5px 5px 20px gray;
}
.menu-3{
    display:inline-block;
    background-color: rgb(182, 242, 171);
    width: 200px;
    line-height: 500px;
    height: 500px;
    border-radius: 15px;
    cursor:pointer;
}
.menu-3:hover{
    transition: ease 300ms;
    background-image: linear-gradient(rgb(182, 242, 171) 90%,rgb(208, 244, 202),white);
    box-shadow: 5px 5px 20px gray;

}
.stay-menu-1{
    background-image: linear-gradient(rgb(196, 203, 255)90%, rgb(218, 222, 246),white);
}
.stay-menu-2{
    background-image: linear-gradient(chocolate 90%, rgb(217, 146, 95),white);;
}
.stay-menu-3{
    background-image: linear-gradient(rgb(182, 242, 171) 90%,rgb(208, 244, 202),white);
}